{% set nav_items = [
	{
		name: 'home',
		title: 'Home',
		url: '/',
		icon: '/images/home.svg',
	},
	{
		name: 'places',
		title: 'Places',
		url: '/places.html',
		icon: '/images/map.svg',
	},
	{
		name: 'map',
		title: 'Map',
		url: '/places.html',
		icon: '/images/pin.svg',
	}
] %}

<nav class="admin-nav">
	<ul class="admin-nav__list">
		{% for item in nav_items %}
			<li class="admin-nav__item{{ item.name == active_nav_name ? ' admin-nav__item--active': '' }}">
				<a href="{{ item.url }}" class="admin-nav__link">
					<img class="admin-nav__icon" src="{{ item.icon }}" alt="">
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>