<div class="dashboard-header">
	<h1 class="admin__heading">Home</h1>
	{% include '@templates/components/custom-select.twig' with {
		options: {
			'7': '7 Days',
			'30': '30 Days'
		},
		selected: '7'
	} only %}
</div>