<div class="dashboard-chart">
	<div class="dashboard-chart__header">
		<h2 class="dashboard-chart__title">Top Cities</h2>

		<ul class="dashboard-chart__tabs">
			<li class="dashboard-chart__tab dashboard-chart__tab--active">
				<button class="dashboard-chart__tab-control" data-value="trips">Trips</button>
			</li>
			<li class="dashboard-chart__tab">
				<button class="dashboard-chart__tab-control" data-value="events">Events</button>
			</li>
			<li class="dashboard-chart__tab">
				<button class="dashboard-chart__tab-control" data-value="communities">Communities</button>
			</li>
		</ul>
	</div>

	<div class="dashboard-chart__chart"></div>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css">
</div>