<table class="dashboard-tables__table">
  <thead>
    <tr class="dashboard-tables__columnheaders">
      {% for heading in headings %}
        <th scope="col" class="dashboard-tables__columnheader">{{ heading }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody class="dashboard-tables__body">
    {% for row in rows %}
      <tr class="dashboard-tables__row">
        {% for key, data in row %}
          <td class="dashboard-tables__cell">{{ data }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
